
body {
    background-image: url("images/background.jpeg");
    background-size: 75%;
    background-color: #2f5563;
    color:#AD9463;
    font-size: 130%;
    font-family: "Optima","Verdana","Arial", sans-serif;
}

.photo-base {
    padding: 20px 20px;
}

.nav-base {
    background:#2f5563;
    color:#AD9463;
    font-size: 90%;
    font-family: "Optima","Verdana","Arial", sans-serif;
    letter-spacing: 0.2em;
    border-style: ridge;
    border-top: 3px;
}

.nav-base li {
    margin-right: 40px;
    list-style: none;
    text-decoration: none;
    display: inline;
 }

.card {
    background:#2f5563;
    display: block;
    width: 90%;
    height: 90%;
    margin: auto;
    border-style: double;
    border-width: 7px;
    border-radius: 0%;
    border-color: #AD9463;
    padding: 5%;
    letter-spacing: 0em;
}

.invite-content {
    background:#2f5563;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 90%;
    margin: auto;
    border-style: double;
    border-width: 7px;
    padding: 5%;
    letter-spacing: 0.2em;
}

.flash {
    background-color: #AD9463;
    letter-spacing: normal;
    font-size: 80%;
    color: #2f5563;
    margin: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    text-align: center;
    width: 100%;
}

checkbox {
    background-color: transparent;
    color:inherit;
    border-style: none;
    background:rgba(0, 0, 0, 0.00)
}

shadow {
    box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07)
  ;}