/* styles.css */
body {
  margin: 0;
  padding: 0;
  font-family: "Junge", sans-serif;
  background-color: #264550;
  color: #AD9463;
  font-size: medium;
  letter-spacing: 0.25em;
}

.card-content {
}

.flash {
  background-color: #AD9463;
  color: #2f5563;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0;
  margin: 10px 0;
  border-radius: 0;
  padding: 10px 10%;
}

 /* Three image containers (use 25% for four, and 50% for two, etc) */
 .column {
  float: left;
  width: 33.33%;
  padding: 15px 15px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
} 

.navbar {
  --bs-navbar-color: #AD9463;
  --bs-navbar-hover-color: #AD9463;
}

.nav {
  list-style: none;
  background-color: #2f5563;
  border-bottom-style: solid;
  border-width: 2px;
  border-bottom-color: #AD9463;
  padding: 5px 5px;
  letter-spacing: 0.2em;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.nav li {
  margin: 0 20px;
  font-size: 24px;
  font-weight: bold;
}

.hero {
  background: url('static/our_story.jpg') center/cover no-repeat;
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
}

.fancytext {
  width: 90%;
  height: auto;
  justify-content: center;
  align-items: center;
  font-size: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.content {
  text-align: center;
  background-color: #2f5563;
  border-style: solid;
  border-width: 2px;
  border-color: #AD9463;
  margin: 20px 20px;
  padding: 40px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
}

.rsvp-form {
  width: 40%;
  min-width: 250px;
  margin: 20px auto;
  position: relative;
  border-style: solid;
  border-width: 2px;
  text-align: center;
  letter-spacing: 0em;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.35);
}

/* Media query for smartphones (max-width: 767px) */
@media (max-width: 800px) {
  .rsvp-form {
      width: 90%;
  }
}

.rsvp-form ul{
  list-style-type: none;
  margin: auto;
  padding: 0;
}

.rsvp-form .fieldset {
  background-color:#2f5563;
}


.rsvp-form legend {
  text-align: center;
  width: 100%;
  padding: 30px 0;
  font-size:2em;
}

.fieldset form {
  margin:0 auto;
  display:block;
  width:75%;
  padding:30px 20px;
  box-sizing:border-box;
}

#user-input {
  padding: 20px 0px;
  text-align: left;
}

.list-group-item {
  font-size: small;
}

.form-control-label {
  text-align: left;
  padding: 0;
}

#form-error {
  color: red; 
  font-size: 0.8em; 
  padding-top: 5px;
}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 30px;
}

/* Media query for smartphones (max-width: 767px) */
@media (max-width: 767px) {
  .countdown {
      font-size: smaller;
  }
}

.countdown-item {
  margin: 0 2%;
  text-align: center;
}

.countdown-item span {
  font-weight: bold;
}

.countdown-item p {
  margin: 5px 0;
}

.accordion-button {
  background-color: #264550;
  color: #AD9463;
  font-weight: bold;
}

.accordion-body {
  text-align: left;
  letter-spacing: 0em;
  font-size: medium;
  background-color: #264550;
  color: #AD9463;
}

footer {
  color: #fff;
  text-align: center;
  letter-spacing: 0;
  padding: 20px;
}

footer img {
  transition: transform .2s; /* Animation */
}

footer img:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}