<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap5 CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<!-- Custom Main.css -->
<link rel="stylesheet" href="{{ url_for('static',filename='main.css') }}">
</head>

<body>
    {% include 'nav.html' %}

    {%block content%}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %} 
            {% for message in messages %} 
                <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %} 
        {% endif %} 
        {% endwith %} 
    
        {# Application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %} 
    </div>
    {%endblock content%}
    
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <footer id="footer">
        <div class="container" align="center">
            <img src="{{ url_for('static', filename='images/chibi.png') }}", width="10%">
        </div>
    </footer>
</body>
</html>