{% extends 'base.html' %}

{%block content%}
<div class="container" style="padding: 5%">
    <div class="container card shadow">
        <h1 style="letter-spacing: 0.2em;" align="center">{{ title }}</h1><hr>
        <br>
        <p>
            The wedding day is the 31<sup>st</sup> of May 2024 at the Atlantica Beach Resort, Kos, Greece. The timings and agenda for the day are currently unknown. We will update this page as soon as we have a schedule.</p>
        </p>
    </div>
</div>
{%endblock content%}