{% extends 'base.html' %}

{%block content%}
<div class="container" style="padding: 5%">
    <div class="container card shadow">
        <h1 style="letter-spacing: 0.2em;" align="center">{{ title }}</h1><hr>
        <br>
        <p>
            The wedding is taking place on the 31<sup>st</sup> of January 2024 at the Atlantica Beach Resort, Kos, Greece.<br>

            It is not necessary for guests to stay at this hotel, you are welcome to find other accomodation close to the venue or in the nearby town of <a href="https://goo.gl/maps/UAG3rYjUaaR8Z5Ak9" target="_blank">Kardamaina</a>, which is approximately 10 minutes away by taxi.
        </p>
    </div>
</div>
{%endblock content%}