{% extends 'base.html' %}

{%block content%}
<div class="content">
    <h1 style="letter-spacing: 0.2em;" align="center">- {{ title }} -</h1><hr>
    <br>
    <div>
        <h1 style="padding-bottom: 20px;">Order of the Day</h1>
        <h2>Thursday 30<sup>th</sup></h2>
        <p style="letter-spacing: 0; padding-bottom: 20px;">Niki and Lewis will be hosting a cocktail evening in a private space on the hotel grounds for us all to meet and mingle before the big day. Check back soon for specific timings.</p>
        <br>
    </div>
    <div>
        <h2>Friday 31<sup>st</sup></h2>
        <ul style="list-style-type: none; padding: 0; letter-spacing: 0; font-size: larger;">
            <li><b>4:00 PM</b><br>Ceremony on the beach</li>
            <li><b>5:00 PM</b><br>Group photos</li>
            <li><b>6:00 PM</b><br>Reception begins</li>
            <li><b>6:30 PM</b><br>Dinner is served</li>
            <li><b>7:30 PM</b><br>Toasts and speeches</li>
            <li><b>8:00 PM</b><br>Cake cutting ceremony</li>
            <li><b>8:15 PM</b><br>First dance</li>
            <li><b>8:20 PM</b><br>Open dance floor</li>
            <li><b>11:00 PM</b><br>End of reception</li>
        </ul>
        <p style="letter-spacing: 0; padding-top: 20px;">Timings may change - please check back closer to the day.</p>
    </div>
    <div style="padding-top:50px">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3196.4628473784483!2d27.10991837578151!3d36.75946246999506!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14bdff131b31464f%3A0x3bb80b048b77d978!2sAtlantica%20Beach%20Resort%20Kos!5e0!3m2!1sen!2suk!4v1713699883916!5m2!1sen!2suk" width="50%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
{%endblock content%}