{% extends 'base.html' %}

{%block content%}
<div class="content">
    <h1 style="letter-spacing: 0.2em;" align="center">- {{ title }} -</h1>
    <hr>
    <h4>Click on the links below to jump to the answers.</h4>
    <ol style="list-style-type: none">
        <li><a href="#faq-1"><i>What's the dress code?</i></a></li>
        <li><a href="#faq-2"><i>Is there a wedding gift registry</i></a></li>
        <li><a href="#faq-3"><i>Can I change my RSVP?</i></a></li>
        <li><a href="#faq-4"><i>Can you recommend any nearby hotels?</i></a></li>
    </ol>
    <br>

    <ol style="list-style-type: none">

        <li id="faq-1" style="font-weight:bold">
            What's the dress code?
        </li>
        <ul>
            <p>Semi-formal beach wedding attire. For men, trousers and an open collar button-down shirt. Jackets and waist coats are optional but you may forgo the tie. Shoes can be close-toe loafers or something equally semi-formal.  For women, tea and maxi length dresses with dressy sandals. The wedding ceremony is taking place on the beach, so keep that in mind when choosing footwear.</p>
            <p>We expect the temperature to be 25-28 degrees, so please dress with this in mind.  We recommend light fabrics, for men wearing jackets in particular, such as linen and cotton.</p>
        </ul>
        <br>

        <li id="faq-2" style="font-weight:bold">
            Is there a wedding gift registry?
        </li>
        <ul>
            <p>We recognise that comming all this way for our wedding day is a lot to ask, so gifts are not expected. Your presence is present enough.</p>
        </ul>
        <br>


        <li id="faq-3" style="font-weight:bold">
            Can I change my RSVP?
        </li>
        <ul>
            <p>Just send an email to lewis@nplgwedding.com with your desired changes.</p>
        </ul>
        <br>

        <li id="faq-4" style="font-weight:bold">
            Can you recommend any nearby hotels?
        </li>
        <ul>
            <p>There are numerous other hotels and resorts between the Atlantica Beach Resort and the nearby town of Kardamaina. The closest is the Atlantica Belvedere Resort or the Porto Bello Royal. Alternatively, Kardamaina will have plenty of smaller hotels and bed and breakfasts available.</p>
        </ul>
        <br>

    </ol>
</div>

{%endblock content%}