{% extends 'base.html' %}

{%block content%}
<div class="container" style="padding: 5%">
    <div class="container card shadow">
        <h1 style="letter-spacing: 0.2em;" align="center">{{ title }}</h1>
        <br>
        <p>Click on the links below to jump to the answers.</p>
        <ol>
            <li><a href="#faq-1">Do we have to stay at the same hotel as the wedding venue?</a></li>
            <li><a href="#faq-2">Is there a wedding gift registry</a></li>
            <li><a href="#faq-3">What's the dress code?</a></li>
            <li><a href="#faq-4">Can I change my RSVP?</a></li>
        </ol>
        <br>

        <ol>
            <li  id="faq-1" style="font-weight:bold">
                Do we have to stay at the same hotel as the wedding venue?
            </li>
            <ul>
                No. You are welcome to stay where ever you wish. We will supply all inclusive day passes (10:00am-midnight) for everyone for the wedding day only. Additional day passes before or after the wedding day can be purchased for €80 from the hotel.
            </ul>
            <br>

            <li id="faq-2" style="font-weight:bold">
                Is there a wedding gift registry?
            </li>
            <ul>
                We recognise that comming all this way for our wedding day is a lot to ask, so gifts are not expected. Your presence is present enough.
            </ul>
            <br>

            <li id="faq-3" style="font-weight:bold">
                What's the dress code?
            </li>
            <ul>
                <p>Semi-formal beach wedding attire. For men, trousers and an open collar button-down shirt. Jackets and waist coats are also acceptable but you may forgo the tie. Shoes can be close-toe loafers or something equally semi-casual.  For women, tea and maxi length dresses with dressy sandals. The wedding ceremony is taking place on the beach, so keep that in mind when choosing an outfit.</p>
                <p>We expect the temperature to be 25-28 degrees, so please dress with this in mind.  We recommend light fabrics, for men wearing jackets in particular, such as linnen and cotton.</p>
            </ul>
            <br>
            <li id="faq-4" style="font-weight:bold">
                Can I change my RSVP?
            </li>
            <ul>
                <p>Just send an email to lewis@nplgwedding.com with your desired changes.</p>
            </ul>
        </ol>
    </div>
</div>
{%endblock content%}