{% extends 'base.html' %}

{%block content%}
<div class="container" style="padding: 5%">
    <div class="container card">
        <ol>
            <li><a href="#faq-1">Do we have to stay at the same hotel as the wedding venue?</a></li>
            <li><a href="#faq-2">Are wedding gifts expected?</a></li>
            <li><a href="#faq-3">What is the agenda for the day?</a></li>
        </ol>

        <ol>
            <li  id="faq-1" style="font-weight:bold">
                Do we have to stay at the same hotel as the wedding venue?
            </li>
            <ul>
                No. You are welcome to stay where ever you wish. We will supply all inclusive day passes (10:00am-midnight) for everyone for the wedding day only. Additional day passes before or after the wedding day can be purchased for €80 from the hotel.
            </ul>

            <li id="faq-2" style="font-weight:bold">
                Are wedding gifts expected?
            </li>
            <ul>
                We recognise that comming all this way for our wedding day is a lot to ask, so gifts are not expected.
            </ul>

            <li id="faq-3" style="font-weight:bold">
                What is the agenda for the day?
            </li>
            <ul>
                Ceremony - Beach Venue 16:00<br>
                Reception - Plaza 18:00-22:00
            </ul>
        </ol>
    </div>
</div>
{%endblock content%}