{% extends 'base.html' %}

{% block content %}
<div class="container" style="padding: 5%">
    <div class="container card card-content shadow" align="center">
        <!-- https://www.fontspace.com/geraldine-font-f61160 -->
        <img src="https://see.fontimg.com/api/renderfont4/PK12m/eyJyIjoiZnMiLCJoIjo0ODAsInciOjI0MDAsImZzIjoyMDAsImZnYyI6IiM5OThGNEYiLCJiZ2MiOiIjRkZGRkZGIiwidCI6MX0/WW91IGFyZSBpbnZpdGVk/geraldine-personal-use-italic.png" width="75%" style="margin-top: 2em; margin-bottom: 2em;"></a>
        <br>

        <img src="{{ url_for('static', filename='images/save_the_date.jpg') }}", width="60%" class="shadow photo-base">
        <br>
        <br>
        <div class="container-fluid" style="letter-spacing: 0.2em;">
            <p>
                to the wedding of
            </p>

            <p>
                Nikita Patel<br>
                <img src="{{ url_for('static', filename='images/ampersand.png') }}", width="20" style="margin: 0.4em"><br>
                Lewis Gallagher
            </p>
            <hr>
            <p>
                31.05.24<br>
                The Atlantica Beach Resort, Kos
            </p>
        </div>
    </div>
</div>
{% endblock %}