{% extends 'base.html' %}

{% block content %}

<section id="welcome">

    <div class="hero">
        <img class="hero" src="{{ url_for('static', filename='images/us.jpg') }}" alt="Lewis and Niki">
    </div>
    
    <div class="content">
        <img src="https://see.fontimg.com/api/renderfont4/x3JyK/eyJyIjoiZnMiLCJoIjozMjIsInciOjI0MDAsImZzIjoxMzQsImZnYyI6IiNDOUE0NjAiLCJiZ2MiOiIjMzUzRDRCIiwidCI6MX0/V2VsY29tZSB0byBvdXIgd2VkZGluZw/sellena-brush.png" alt="Cursive fonts" class="fancytext"></a>

        <div style="padding: 20px;">
            <p style="text-align: center; letter-spacing: 0em;">
                Join us in Kos, at the <b>Atlantica Beach Hotel Resort.</b><br>
                On May 31st 2024<br>
                To celebrate our love!<br>
            </p>
            
            {% include 'timer.html' %}

            <p style="font-weight: bolder; letter-spacing: 0em;">
                Further information to follow. Check back soon!
            </p>
        </div>

        <hr>

        <div>
            <h1 style="padding-bottom: 20px; padding-top: 20px;">Order of the Day</h1>
            <h2>Thursday 30<sup>th</sup></h2>
            <p style="letter-spacing: 0; padding-bottom: 20px;">Niki and Lewis will be hosting a cocktail evening in a private space on the hotel grounds for us all to meet and mingle before the big day. We expect this to begin at approximately 8pm.</p>
            <br>
        </div>
        <div style="padding-bottom: 20px;">
            <h2>Friday 31<sup>st</sup></h2>
            <p style="letter-spacing: 0;">We are yet to finalise the running times for the big day. The ceremony will start at 4pm and the reception will last until 11pm. Specific details will likely be distributed on the day.</p>
            <ul style="list-style-type: none; padding: 0; letter-spacing: 0; font-size: larger;">
                <li><b>4:00 PM</b><br>Ceremony on the beach</li>
                <li><b>11:00 PM</b><br>End of reception</li>
            </ul>
        </div>
    </div>
</section>

<section id="our-story" class="content">

    <h1 style="letter-spacing: 0.2em;">- Our Story -</h1>
        <br>
        <p style="letter-spacing:0em;">
            We first met in the summer of 2015, during our work as research assistants for the cancer genome project in Cambridge. Lewis worked on growing cells and Niki then processed them to extract the DNA, not the most romantic origin story…
            <br><br>
            Amidst the long hours of pipetting and to dull the aching of our thumbs, we would spend time chatting and discovered we both had mutual film, music and food tastes. We developed a firm friendship and shared many movie nights, gigs, and meals around town together. Even as friends we were off on adventures together.
            <br><br>
            In 2017 Niki decided to leave the lab for pastures new and begin teacher training. Meanwhile, Lewis left to pursue a career in bioinformatics. Fatefully, both paths converged in Leicester.
            <br><br>
            Out of friendship a fondness grew. In 2018, on one brisk January night, Niki bravely mustered the courage to tell Lewis her true feelings. Fortunately, Lewis also felt the same way. We then settled on a first date later in the week in the snowy avenues of Leicester and have been inseparable since.
            <br><br>
            It took several years before we could see that we belonged together (a few friends claim they spotted our connection well before even we did!) Our love story may not have begun with a bright spark but rather blossomed, slowly, and purposefully, into a fire that continues to burn with an unwavering earnestness which has led us, and you, our treasured family and friends, to our wedding day. 
            <br><br>
            We are so incredibly excited to celebrate our love with you. We hope to see you all very soon.
            <br><br>
            Niki & Lewis.
        </p>
</section>

{% endblock %}