<nav class="navbar sticky-top navbar-expand-lg nav-base">
    <div class="container-fluid">
      <a class="navbar-brand"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}" style="color:#AD9463">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('rsvp') }}" style="color:#AD9463">RSVP</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('our_story') }}" style="color:#AD9463">Our Story</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('event_info') }}" style="color:#AD9463">Event Info</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('faq') }}" style="color:#AD9463">FAQ</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>