{% extends 'base.html' %}

{%block content%}
<div class="container" style="padding: 5%">
    <div class="container card shadow">
        <h1 style="letter-spacing: 0.2em;" align="center">Our Story</h1><hr>
        <br>
        <p>
            We first met in during our work as research assistants for the cancer genome project in Cambridge. Lewis mainly worked on growing cells and Niki then processed them to extract the DNA, not the most romantic origin story…
            <br><br>
            Amidst the long hours of pipetting and to dull the aching of their thumbs, the two would spend time chatting and discovered they both had mutual music tastes and were particularly fond of a certain artist named Frank Turner. We developed a firm friendship and spent many movie nights, evenings out and gigs together, even as friends we were off on adventures together.
            <br><br>
            After a few years Niki decided to leave the lab to begin teacher training and Lewis wanted to pursue a career in bioinformatics - fortunately both courses took place in Leicester! 
            <br><br>
            Out of friendship a fondness grew, and Niki eventually plucked up the courage to tell Lewis her true feelings of endearment – Luckily, Lewis felt the same way and, after confessing his feelings, promptly ran out of the car! The two then settled on a first date later in the week in the snowy avenues of Leicester and have been inseparable since. 
            <br><br>
            It took several years before we could see that we belonged together (a few friends have said they spotted our connection well before even we did!) Our love story may not have begun with a bright spark but rather blossomed, slowly, and purposefully, into a fire that continues to burn with an unwavering earnestness to get to where we are today. We are so excited to celebrate our love with you and hope to see you all very soon.
        </p>
    </div>
</div>
{%endblock content%}