{% extends 'base.html' %}

{% block content %}
    
<div class="rsvp-form">
    <div class="fieldset">

        <legend>- RSVP -</legend>

        <div class="row" style="width: 75%; margin: auto;">
            <p>
                Please submit <strong>one RSVP per person</strong>. If you need to amend your RSVP, please contact <i>lewis@nplgwedding.com</i>.
            </p>
        </div>
        
        
        <form class="form-group" style="padding: 0 0 30px 0;" method="POST" action="{{ url_for('rsvp') }}" novalidate>
                        
            <div class="row">
                {{ form.hidden_tag() }}
                <br>
            </div>

            <hr>
    
            <div class="row">
                {{ form.attending.label() }}<br>
                {{ form.attending(id="attending") }}
                
                {% for error in form.attending.errors %}
                <span id="form-error">[{{ error }}]</span>
                {% endfor %}
                
            </div>
            
            <div class="row" id="user-input">
                {{ form.name.label(class='form-control-label', for='name') }}
                {{ form.name(placeholder='Full name', class='form-control', id='name') }}

                {% for error in form.name.errors %}
                <span id="form-error">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div class="row" id="user-input">
                {{ form.email.label(class='form-control-label', for='email') }}
                {{ form.email(placeholder='Email', class='form-control', id='email') }}

                {% for error in form.email.errors %}
                <span id="form-error">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div class="row" id="user-input">
                {{ form.phone.label(class='form-control-label', for='phone') }}
                {{ form.phone(placeholder='Phone number', class='form-control', id='phone') }}

                {% for error in form.phone.errors %}
                <span id="form-error">[{{ error }}]</span>
                {% endfor %}
            </div>

            <div class="row" id="user-input">
                {{ form.diet_req.label(class_="form-control-label") }}
                {{ form.diet_req(class_="list-group") }}
            </div>

            <div class="row" id="user-input">
                {{ form.message.label(class='form-control-label', label='An optional message') }}
                {{ form.message(placeholder='Max 150 characters', class='form-control', id='message') }}
            </div>

            <hr>

            <div class="row" id="user-input">
                {{ form.submit(class="btn btn-light form-control", value='RSVPs now closed', style="font-weight: bold") }}
            </div>


        </form>
    </div>
</div>
{% endblock %}
