{% extends 'base.html' %}

{% block content %}
    
<div class="container" style="padding: 5%">
    <form class ="invite-content shadow" method="POST" action="{{ url_for('rsvp') }}" novalidate>
        <div align="center" style="padding: 2% 2%">
            <img src="{{ url_for('static', filename='images/rsvp.png') }}" width=40%/>
        </div>
        <hr>
        <div align="center" style="letter-spacing:0em; font-size:90%">
            <p>
                Please submit <strong>one RSVP per person</strong> and ensure you submit your RSVP using <strong>the email address that your invite was sent to.</strong> This is to maintain continuity with our attendee information. If you have made a mistake or need to amend your RSVP, please contact <i>lewis@nplgwedding.com</i>.
            </p>
        </div>
        <div class="form-group">
            {{ form.hidden_tag() }}
            <br>

            <div>
                {{ form.attending.label(class='form-control-label', for='attending') }}
                {{ form.attending(id='attending') }}
                {% for error in form.attending.errors %}
                <span style="color: red; font-size: 0.8em;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <br>    

            <div class="form-group">
                {{ form.name.label(class='form-control-label', for='name') }}
                {{ form.name(placeholder='Full name', class='form-control', id='name') }}
                {% for error in form.name.errors %}
                <span style="color: red; font-size: 0.8em;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <br>

            <div class="form-group">
                {{ form.email.label(class='form-control-label', for='email') }}
                {{ form.email(placeholder='Email', class='form-control', id='email') }}
                {% for error in form.email.errors %}
                <span style="color: red; font-size: 0.8em;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <br>

            <div class="form-group">
                {{ form.phone.label(class='form-control-label', for='phone') }}
                {{ form.phone(placeholder='Phone number', class='form-control', id='phone') }}
                {% for error in form.phone.errors %}
                <span style="color: red; font-size: 0.8em;">[{{ error }}]</span>
                {% endfor %}
            </div>
            <br>

            <div class="form-group">
                {{ form.diet_req.label(for='diet_req') }}
                {{ form.diet_req(placeholder='Dietary requirements', class = checkbox, id='diet_req') }}
            </div>

            <div class="form-group">
                {{ form.message.label(class='form-control-label', for='message') }}
                {{ form.message(placeholder='An additional message', class='form-control', id='message') }}
            </div>
            <br>

            <div class="form-group">
                {{ form.submit(class="btn-sm btn-primary form-control") }}
            </div>
        </div>
        <br>
        <div align="center" style="letter-spacing:0em; font-size:90%">
            <p>If you have any issues please contact <i>lewis@nplgwedding.com.</i></p>
        </div>
    </form>
</div>
{% endblock %}